# Archivos DLL / optimizados / compilados en bytes
__pycache__/
*.py[cod]

# C extensiones
*.so

# Distribución / emsablaje
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller. 
# Normalmente estos archivos se escriben mediante un script de Python a partir de una plantilla. 
# antes de que PyInstaller construya el exe, para inyectarle la fecha/otra información.
*.manifest
*.spec

# Registros del instalador
pip-log.txt
pip-delete-this-directory.txt

# Informes de cobertura/prueba unitaria
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Traducción
*.mo
*.pot

#Cosas de Django: 
*.log

# Documentación de la esfinge
docs/_build/

# PyBuilder
target/

# PyDev Archivos temporales de sistemas remotos
.project
.pydevproject
.metadata
.settings
*.prefs
